@import url(https://fonts.googleapis.com/css?family=Gothic+A1:300,500,700,900);/*----------------------
--------global----------
------------------------*/

.app-page {
  min-height: 100vh;
}

html {
  background-color: #e4e4e4e4;
}

body {
  margin: 0 auto;
  font-family: "Gothic A1", sans-serif;
  font-size: 14px;
  color: #333333;
}

.master-container,
.master-wrapper,
main,
aside,
nav,
footer {
  position: relative;
}

html,
body,
.master-container,
.master-wrapper,
main#main_body {
  min-height: 100%;
  height: auto;
}

.master-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

main#main_body {
  width: 100%;
  position: relative;
  z-index: 5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main#main_body.sidebar-margin,
.el-loading-mask.is-fullscreen {
  -webkit-transform: translateX(270px);
          transform: translateX(270px);
  width: calc(100% - 270px);
}

main#main_body,
.app-nav.sidebar-nav {
  margin-top: 0px;
}

.home-route main#main_body {
  margin-top: 0;
}

.non-admin main#main_body {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  width: 100%;
  height: 100vh;
}

aside {
  width: 270px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

aside .app-nav {
  height: 100%;
}

.sidebar-overlay {
  position: absolute;
  z-index: 4998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: none;
}

@media (min-width: 1440px) {
  body {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
  }
}

a {
  display: inline-block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  outline: 0;
  text-decoration: none;
}

input,
button,
textarea,
select {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4em;
}

p {
  line-height: 1.4em;
}

img {
  max-width: 100%;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-b-41 {
  padding-bottom: 41px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-b-33 {
  padding-bottom: 33px;
}

/*----------------------
--------pages----------
------------------------*/

.login-page {
  background-image: url(/images/defaults/login.jpg);
  /* Full height */
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.login-page::before {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 1, 0.95);
}

.wrap-login {
  width: 490px;
  border-radius: 10px;
  overflow: hidden;
  background: transparent;
}

.login100-form-title {
  font-family: Ubuntu-Bold;
  font-size: 22px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.login-form {
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}

.el-form-item {
  padding: 10px;
  margin-bottom: 5px;
}

/*----------------------
--------forms----------
------------------------*/

