.order-detail-page {
    color: #000;
    width: 95%;
    min-height: 630px;
    padding-top: 2%;
    padding-left: 5%;
}

.order-steps {
    padding: 1%;
}

.order-container{
    border: 1px solid  #1363a8;
}

.order-details-header {
    width: 100%;
    background-color: #1363a8;
    min-height: 10%;
    color: #fff;
    padding: 1%;
}

.order-products {
    padding: 1%;
}

.stpes {
    padding: 5%; 
}

